/* pages/order/order.wxss */
.order{
  &__tab{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20rpx;
    &--activeTab{
      width: 60rpx;
      height: 10rpx;
      border-radius: 20rpx;
      background-color: rgb(230,0,18);
      position: absolute;
      top: 55rpx;
      margin-left: 10rpx;
      // left: 100rpx;
      // left: 350rpx;
      // left: 600rpx;
    }
  }
  &__swiper{
    background-color: rgb(245,245,245);
    height: 100%;
  }
}